zurg: v1
token: BRKZX4VXQXU3KLQJJNQXHUTZKKZZOFLXWGVVTVAKUV6WMMQYI4EA
# host: "[::]"
# port: 9999
# username:
# password:
# proxy:
concurrent_workers: 32
check_for_changes_every_secs: 10
repair_every_mins: 60
#ignore_renames: true
enable_repair: true
auto_delete_rar_torrents: true
get_torrents_count: 5000
#retain_rd_torrent_name: true
#retain_folder_name_extension: true
# api_timeout_secs: 15
# download_timeout_secs: 10
# enable_download_mount: false
# rate_limit_sleep_secs: 6
# retries_until_failed: 2
# network_buffer_size: 4194304 # 4MB
serve_from_rclone: true
on_library_update: sh plex_update.sh "$@"
# verify_download_link: false
# force_ipv6: false
directories:
  anime:
    group_order: 10
    group: media
    filters:
      - regex: /\b[a-fA-F0-9]{8}\b/
      - any_file_inside_regex: /\b[a-fA-F0-9]{8}\b/

  shows:
    group_order: 20
    group: media
    filters:
      - has_episodes: true

  movies:
    group_order: 30
    group: media
    only_show_the_biggest_file: true
    filters:
      - regex: /.*/
